main{
    background: transparent;
}

.girl-bg {
    height: 100vh;
    background: url(/static/images/bg-girl-flip.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner{
    color: white;
    font-family: 'Martel', serif;
    background: #00000060;
    border-radius: 0px 0px 5px 5px;
    /* padding: 15px; */
}

.input-description{
    font-size: 3vw;
}

.country-flags{
    max-width: 4vw;
}